
.container-horse {
position: relative;
display: flex;
flex-flow: column;

}
.container-horse .horse{
    width: 200px;
    height: 100px;
    position: absolute;
    left:0;
    padding: 70px 0;
}
.horse-1{
    top: 0;
}
.horse-2{
    top: 200px;
}
.horse-3{
    top: 400px;
}
.container-horse .horse img{
    width: 100%;
}
.line{
    width: 5px;
    height: 100vh;
    background: #000;
    display: inline-block;
    position: absolute;
    left: 1200px;
}
.winner{
text-align: center;
padding-top: 300px;
font-size: 8rem;
    width: 100vw;
    height: 100vh;
    background-color: rgb(71, 71, 107);
    display: none;
}